<!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .error-message {
            font-size:90%;
            font-style:italic;
            color:red;
        }
    </style>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Assign Job Page</h2>
<!--<h3>Welcome :-->
<!--    <span th:utext="${#request.userPrincipal.name}"></span>-->
<!--</h3>-->
<b>This is protected page!</b>


<form th:object="${newjob}" method="POST">
<table border="0">
    <tr>
        <td>Job Id</td>
        <td><input  th:field="*{jobId}" /></td>
        <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('jobId')}" th:errors="*{jobId}">..</span>
        </td>
    </tr>
    <tr>
        <td>Job Worker</td>
        <td><input th:field="*{jobWorker}" /></td>
        <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('jobWorker')}" th:errors="*{jobWorker}">..</span>
        </td>
    </tr>
    <tr>
        <td>Job Checker</td>
        <td><input th:field="*{jobChecker}" /></td>
        <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('jobChecker')}" th:errors="*{jobChecker}">..</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Submit" /></td>
        <td></td>
    </tr>
</table>
</form>
<div class="error-message" th:utext="${Message}"></div>
<div class="error-message" th:utext="${errorMessage}"></div>

</body>
</html>